/*
About us 
*/
#about-us-page {
.main-contents-section {
	margin-bottom: 100px;
}
.section {
	margin-top: 100px;
}
.section-description {
	margin-right: 100px;
}

.section-wrapper {
	display: block;
	float: none;
}

//people profiles
#people-profile {
	margin: 60px auto;
	width: 90%;
	.person {
		// width: 
	}
	.person-photo {
		display: inline-block;
		float: left;
		margin-right: 15px;
		margin-bottom: 15px;
		width: 200px;
		height: 200px;
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
		}
	}
}





}



/*
For businesses page 
*/
#for-business-page {
	.section {
		margin-bottom: 100px;
	}
	.fit-your-needs {
		width: 90%;
		.section-title {
			h1 {
				margin-bottom: 10px;
			}
		}
	}

}