/*
About us 
*/
#about-us-page {
.main-contents-section {
	margin-bottom: 100px;
}
.section {
	margin-top: 100px;
}
.section-description {
	margin-right: 100px;
}
}



/*
For businesses page 
*/
#for-business-page {
	.section {
		margin-bottom: 100px;
	}
	.fit-your-needs {
		width: 90%;
		.section-title {
			h1 {
				margin-bottom: 10px;
			}
		}
	}

}