.svg {
	display: inline-block;
	vertical-align: top;
}
a {
	text-decoration: none;
	display: inline-block;
}

.image-box {
	height: auto;
	img {
		width: 100%;
	}
}
.dotted-underline {
	text-decoration: none;
	border-bottom: 1px dotted $main-red;
}

.section-image {
	overflow: hidden;
	background-color: $eb-darkgrey;

}

.section-logo {
	background-color: $main-red;
	display: inline-block;
	h3 {
			color: $eb-snowhite;
			margin: 0 auto;
	}	
}