$main-red: #b6252c;

$red-alpha-95: rgba(182, 37, 44, 0.95);
$red-alpha-90: rgba(182, 37, 44, 0.9);
$red-alpha-80: rgba(182, 37, 44, 0.8);

$eb-black: #352c2c;
$eb-white: #ffffff;
$eb-lightgrey: #d8d4d5;
$eb-darkgrey: #58585b;
$eb-snowhite: #fffbf7;
$eb-beach: #7ba2a7;
$eb-falewhite: rgb(253, 253, 249);
$snow-alpha-80: rgba(255, 251,247, 0.8);