.form-content {
	.form-greeting {
		padding: 50px;
	}
	.jumbo-title {
		margin-bottom: 25px;
	}
	.text {
		margin-bottom: 0;
		font-size: 1.3em;
	}
	.form-wrapper {
		width: 100%;
		background-color: $eb-falewhite;
	}
	.form-contents {
		padding: 50px ;
	}
}